/* Commmon shared styles */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

  }

  .btn-primary{
    background-color: #F15B22;
    border-radius: 5px;
    border:none;
    padding: 20px 50px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
   
  }

  main{
    width: 90%;
    margin: 0 auto;
   
  }
  img{
    max-width: 100%;
    display: block;
  }

  /* Header styles */
  .header{

    background: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    

  }

  .about-header{
   
    width: 525px;
    text-align: right;
    margin-left: 750px;
   padding: 120px 30px;
   

  }

  .header-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
   
  }

  .header-description{
    color: #444343;
    font-size: 16px;
  }

  /* About section styles */

  .about{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
   

  }

  .about-image{
    width: 50%;
   
  }

  .about-content{
    width: 30%;
   
    padding: 10px;
  }

  .about-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    
  }
  .about-description{
    color: #444343;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }




  .about-content ul li{
    list-style: square;
    margin-bottom: 15px;
  }

  /* start my plans section styles */

  .plans{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .plans-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 10px;
  }
  .courses-container{
    display: flex;
    justify-content: space-around;
  }
  .course-info{
    width: 24%;
   
    text-align: center;
  }
  .course-info h2{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .course-info p{
    color: #737272;
    font-size: 25px;
    margin-top: 10px;
  }

  .course-info img{
    
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  /* Contact styles */

  .contact{
    background: url('images/watch.png');
   
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }

  .contact-gradient{

    background-image: url('images/gradient2.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
  .contact-information{
   
    width: 50%;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
   
   
  }

  .btn{
    background-color: #fff;
    color: #F15B22;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 0;
   
  }

  .contact-title{
   
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 10px;
  }

  /* footer styles */

  footer{
    background-color: #151414;
    display: flex;
    justify-content: space-between;
  }
  .footer-colum{
    width: 32%;
    padding: 50px 50px;
   
  }

  .footer-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: bold;
  }
  .footer-description{
    color: #FFFFFF;
  }
  .email{
    color: #FFFFFF;

  }
  .phone{
    color: #FFFFFF;
  }

  .social-links{
    display: flex;
    gap: 20px;
  }

  .footer-h2{

    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;

  }

  input{
    display: block;
    margin-bottom: 10px;
    padding: 12px 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    text-align: left;
  }

  .button{
    padding: 10px 20px;
    background-color: #fff;
    color: #F15B22;
    margin-top: 10px;
  }